.page {
    width: 100%;
    max-width: var(--container-w);

    height: calc(var(--vh) * 100);
    min-height: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
    background: var(--bg);
    margin: 0 auto;
}

.wrap {
    width: 100%;
    max-width: var(--container-w);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 0;
    padding-top: calc(var(--top-h) + var(--safe-top));
    padding-bottom: calc(var(--tab-h) + var(--safe-bottom));
}

.content {
    width: 100%;
    max-width: var(--container-w);
    min-height: calc(100vh - var(--top-h) - var(--tab-h));
    padding-top: calc(var(--top-h) + 16px);
    padding-bottom: calc(var(--tab-h) + 16px);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    overflow: auto;
}

.loading,
.empty {
    padding: 12px;
    color: #6f6a60;
}

.tabbarFixed {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    max-width: var(--container-w);
    height: var(--tab-h);
    background: #fff;
    z-index: 100;
}

.writeArea {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(var(--tab-h) + 12px);
    width: 100%;
    max-width: var(--container-w);
    display: flex;
    justify-content: center;
    z-index: 110;
}

.writeBtn {
    width: 60%;
    height: 38px;
    color: var(--font);
    border-radius: 14px;
    border: 1px solid #e8e3da;
    background: #e7cc7a;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content::-webkit-scrollbar {
    width: 6px;
}

.content::-webkit-scrollbar-thumb {
    background: #0000001a;
    border-radius: 999px;
}