.logoContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(72%, 340px);
    margin: 0 auto 12px;
}

.logoImg {
    width: 100%;
    height: auto;
    max-height: 140px;
    display: block;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
}