.mainPage {
    width: 100%;
    max-width: var(--container-w);

    height: calc(var(--vh) * 100);
    min-height: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
    background: var(--bg);
}

.mainWrap {
    width: 100%;
    max-width: var(--container-w);
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 0;

    padding-top: calc(var(--top-h) + var(--safe-top));
    padding-bottom: calc(var(--tab-h) + var(--safe-bottom));
}

.mainContent {
    width: 100%;
    max-width: var(--container-w);
    min-height: calc(100vh - var(--top-h) - var(--tab-h) - var(--safe-top) - var(--safe-bottom));
    padding-top: calc(var(--top-h) + 16px);
    padding-bottom: calc(var(--tab-h) + 16px);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    overflow: auto;
}