.skeleton {
    width: 100%;
    height: 88px;
    background: #eee;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.skeleton::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: translateX(-100%);
    animation: shimmer 1.5s infinite;
}