button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

button:focus {
    outline: none;
}


.topBar,
.tabBar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--container-w);
    z-index: 1000;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}

.topBar {
    top: 0;
    height: var(--top-h);
    background: var(--bg);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo img {
    width: 56px;
    height: 56px;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
}

.tabBar {
    bottom: 0px;
    height: var(--tab-h);
    background: var(--bg);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.tabInner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.tabItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    min-width: 56px;
    color: var(--black);
}

.tabItem span {
    font-size: 12px;
}

.tabItem.active span {
    font-weight: 700;
}

.tabItem img {
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
}